// animations for slideshow/banner
@keyframes slideAnimationIn {
  from {
    box-shadow: none;
  }
  to {
    box-shadow: white 0 0 0 5rem inset;
  }
}

.slideShowIn {
  animation: slideAnimationIn 2000ms ease-in-out forwards;
}

@keyframes slideAnimationOut {
  from {
    box-shadow: white 0 0 0 5rem inset;
  }
  50% {
    box-shadow: none;
  }
  to {
    box-shadow: none;
  }
}

.slideShowOut {
  animation: slideAnimationOut 4000ms ease-in-out forwards;
}

// animations hamburger menu
@keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0;
  }
  1% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}

.fade-in {
  animation: fade-in 300ms ease-in-out forwards;
}

@keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1;
  }
  99% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}

.fade-out {
  animation: fade-out 300ms ease-in-out forwards;
}
