// Colors
$darkBrown: #2d2424;
$brown: #5c3d2e;
$orange: #b85c38;
$pastel: #e0c097;
$white: #ffffff;

// Font sizes
$font-sm: 0.875rem; // 14px
$font-med: 1rem; // 16px
$font-lg: 1.9rem; // 20px
$font-xlg: 3.5rem; // 56px

// Fonts
$text-font: "Mulish", sans-serif;
$title-font: "Josefin Slab", serif;
